{% extends 'base_ur.html' %}

{% block title %}


<title>Тести</title>{% endblock %}

{% block body %}
<main role="main">
<div class="card mb-4 shadow-sm">
    <div class="card-text">
        <h3>Тема : {{temma.test_name}}</h3>
    </div>

</div>
    <div class="card mb-4 shadow-sm">

        <div class="card mb-4 shadow-sm">
            {% for res in ress %}
            <div class="btn-group" >
                <div class="card-text" >{{res.num_quest}}</div>
                    {% if res.pr_vid == res.vid %}
                    <ion-icon name="close-outline">+</ion-icon>
                    {% else %}
                   <ion-icon name="checkmark-outline">-</ion-icon>

                    {% endif %}
                          <button type="button" class="btn btn-sm btn-other-style">
                            <a class="btn btn-light" href="#">{{res.vid}}</a>
                        </button>
                        {#  {{res.pr_vid}} #}

            </div>
            {% endfor %}
        </div>
    <div class="progress" style="width: 50%; margin-top: 10px;">
        <div class="progress-bar bg-dark" role="progressbar" style="width: {{ vids }}%;" aria-valuenow="{{ vids}}" aria-valuemin="0" aria-valuemax="100">{{ vids}}%</div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-text">
            <h4>Відсоток успішності</h4>
        </div>

    </div>
    <div class="progress" style="width: 50%; margin-top: 10px;">
        <div class="progress-bar bg-dark" role="progressbar" style="width: {{ vids }}%;" aria-valuenow="{{ vids }}" aria-valuemin="0" aria-valuemax="100">{{ (vids * 12 / 100) | float | round }}  балів</div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-text">
            <h4>Ви набрали {{ ((vids * 12 / 100) | float | round| int )}}       з 12  балів </h4>
        </div>

           {% endblock %}
