{% extends 'admin/base_admin.html' %}{%block title %}
<title>Онлайн магазин</title>{%endblock%} {% block body %}
<main>
    <h1>predmet_name</h1>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-1 mb-1 text-center">
            <h1>{{ predmet.predmet_name }}</h1>

            <h2>Claasses:</h2>
            <ul>
                {% for claass in claass_list %}
                    <li>{{ claass.claass_name }}</li>
                {% endfor %}
            </ul>


        </div>

    </div>

</main>

{% endblock %}
